html, body {
  background: white;
  color: #333;
  font: 16px/1.5 system-ui, sans-serif;

  box-sizing: border-box;
}

a {
  color: hsla(225, 100%, 75%, 1);
}

.score {
  padding: 0.1em 0.2em;
  border-radius: 0.25rem;
  background-color: hsla(40, 100%, 75%, 1);
  font-weight: bold;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.check {
  display: inline-block;
  text-align: center;
  font-size: 0.45rem;
  background-color: hsla(120, 100%, 90%, 1);
  padding: 3px 4px;
  border-radius: 100%;
  vertical-align: text-bottom;
}

body {
  padding: 2rem;
}

h1:first-child {
  margin-top: 0;
}

main {
  max-width: 50rem;
  margin: 0 auto;

  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 700px) {
  main {
    display: block !important;
  }
}
